body{
background-image:url("../fotos/a.jpeg");
background-repeat:not-repeat;
background-attachment:fixed;
background-size:cover;
background-position:center;
}
.uno{
font-size: 30px;
font-family:verdana;
color: green;
margin-left:35%;
margin-right:35%
text-align: justify;
}